<main class="send-email">
  <div class="send-email__contain">
    <div class="send-email__content">
      <header class="t2 text-primary">Enviando al correo los pasos</header>
      <form
        [formGroup]="verifyForm"
        (ngSubmit)="submitForm(verifyForm)"
        novalidate
      >
        <label
          *ngIf="fc.valid('emailVerifyForm')"
          for="emailVerifyForm"
          class="text-danger"
          >{{ fc.error("emailVerifyForm", "correo") }}</label
        >
        <div class="form-group">
          <input
            formControlName="emailVerifyForm"
            name="emailVerifyForm"
            type="email"
            class="form-control"
            id="verify-email"
            placeholder="Correo"
          />
        </div>

        <footer>
          <button
            [class.disabled]="!verifyForm.valid"
            [disabled]="!verifyForm.valid"
            class="btn btn--primary"
            id="verify"
            type="submit"
          >
            Enviar
          </button>
          <a class="arrow-back fw-300" href="javascript:window.history.back()">
            &larr; Ir atrás
          </a>
        </footer>
      </form>
    </div>
  </div>
</main>
