@use '../abstracts/colors';
@use '../utilities/flow' as f;

.btn {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 0.625rem 1rem;
  font-size: inherit;
  vertical-align: middle;
  cursor: pointer;
  border-radius: f.$border-radius;
}

.btn--icon {
  border-radius: 50%;
  background-color: colors.$white-color;
  padding: 0.7rem 0.8rem;
}

.btn--outline-primary {
  border: 2px solid colors.$primary-color;
  background-color: colors.$white-color;
}

.btn--primary {
  background-color: colors.$primary-color;
  color: colors.$white-color;
}

.btn--with-icon {
  color: colors.$white-color;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.btn--warning {
  background-color: colors.$extra-color-1;
  color: colors.$body-color;
}
.btn--secondary {
  background-color: colors.$secondary-color;
  color: colors.$white-color;
}

.btn--sm {
  margin: 0.5em;
  padding: 0.5em 1em;
}

.btn--report {
  background-color: colors.$extra-color-2;
  color: colors.$white-color;
  margin: 0.5em;
  padding: 0.5em 1em;
}

.btn--tag {
  margin-right: 0.5rem;
  border-radius: 2rem;
  padding: 0.2em 1em;
}

.btn--login {
  background-color: colors.$primary-color;
  color: colors.$white-color;
  padding: 0.5rem 3rem;
  @media screen and (min-width: 768px) {
    padding: 0.5rem 1rem;
  }
}

.btn--register {
  background-color: colors.$secondary-color;
  color: colors.$white-color;
  padding: 0.5rem 3rem;
  @media screen and (min-width: 768px) {
    padding: 0.5rem 1rem;
  }
}
