.pagination {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    padding: 0 2rem;
  }
  button {
    display: flex;
    align-items: center;
  }
}
