<ng-template #loading>
  <Loading></Loading>
</ng-template>
<main class="songs animated fadein">
  <div class="principal">
    <div class="principal__avatar">
      <img [src]="logo" alt="Logo Codespace" />
    </div>
    <h1>Agiliza tu trabajo</h1>
    <h2>Proyectos, componentes, apis y muchos más</h2>
  </div>
  <div class="search">
    <input
      type="search"
      class="search__term"
      placeholder="Busca por ejemplo: Dashboard, Landing Page o Api de animales"
      id="term"
      (keyup)="search()"
    />
    <button type="button" class="search__button">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <details>
    <summary>
      <svg
        width="15"
        height="15"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M352 224H95.1C78.33 224 64 238.3 64 255.1S78.33 288 95.1 288h256C369.7 288 384 273.7 384 256S369.7 224 352 224zM256 384H191.1C174.3 384 160 398.3 160 415.1S174.3 448 191.1 448h64C273.7 448 288 433.7 288 416S273.7 384 256 384zM416 64H31.1C14.33 64 0 78.33 0 95.1S14.33 128 31.1 128h384C433.7 128 448 113.7 448 96S433.7 64 416 64z"
        />
      </svg>
      Filtros
    </summary>
    <div class="filtros">
      <ul>
        <h5>Tags</h5>
        <ng-container *ngFor="let tag of tags$ | async; let i = index">
          <li>
            <a
              (click)="filterProjects('tag', tag.name, i)"
              [ngClass]="{ selected: linkSel[i] }"
            >
              {{ tag.name | capitalize }}</a
            >
          </li>
        </ng-container>
      </ul>
      <ul>
        <h5>Lenguajes de programación</h5>
        <ng-container
          *ngFor="let language of languages$ | async; let i = index"
        >
          <li>
            <a
              (click)="filterProjects('language', language.name, i)"
              [ngClass]="{ selected: linkSel[ntags + i] }"
              >{{ language.name | capitalize }}</a
            >
          </li>
        </ng-container>
      </ul>
      <ul>
        <h5>Ordenar por</h5>
        <ng-container *ngFor="let item of orderBy; let i = index">
          <li>
            <a
              (click)="filterProjects(item.route, '', i)"
              [ngClass]="{ selected: linkSel[7] }"
              >{{ item.name }}</a
            >
          </li>
        </ng-container>
      </ul>
      <ul>
        <h5>Autor</h5>
        <ng-container *ngFor="let author of authors; let i = index">
          <li>
            <a
              (click)="filterProjects(author.route, author.name, i)"
              [ngClass]="{ selected: linkSel[7] }"
              >{{ author.name }}</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
  </details>

  <ng-container *ngIf="projects$ | async; let projects; else: loading">
    <section class="view-cards">
      <header *ngIf="value.length > 0">
        <h4>Filtro: {{ value | capitalize }}</h4>
        <hr />
      </header>
      <div class="cards animated fadein">
        <ng-container *ngFor="let project of projects">
          <Card [project]="project"></Card>
        </ng-container>
      </div>
      <p *ngIf="projects.length === 0">No hay resultados</p>
    </section>
  </ng-container>
  <div class="pagination">
    <button
      [disabled]="!pagination.previous"
      [class.disabled]="!pagination.previous"
      [class.btn--primary]="pagination.previous"
      (click)="getProjects(term, pagination.previous)"
      type="button"
      class="btn"
    >
      Prev
    </button>
    <span>{{ page }}</span>
    <button
      [disabled]="!pagination.next"
      [class.disabled]="!pagination.next"
      [class.btn--primary]="pagination.next"
      (click)="getProjects(term, pagination.next)"
      type="button"
      class="btn btn--primary"
    >
      Next
    </button>
  </div>
</main>
