<ng-template #loading>
  <Loading></Loading>
</ng-template>
<main class="songs animated fadein">
  <div class="principal">
    <div class="principal__avatar">
      <img [src]="logo" alt="Logo Codespace" />
    </div>
    <h1>Agiliza tu trabajo</h1>
    <h2>Proyectos, componentes, apis y muchos más</h2>
  </div>
  <div class="search">
    <input
      type="search"
      class="search__term"
      placeholder="Busca por ejemplo: Dashboard, Landing Page o Api de animales"
      id="term"
      (keyup)="search()"
    />
    <button type="button" class="search__button">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <details>
    <summary>Ordenar por</summary>
    <div class="filtros">
      <ul>
        <h5>Ordenar por</h5>
        <li>
          <a
            [ngClass]="{ selected: linkSel[0] }"
            (click)="getProjects('', 1, '', '', 0)"
            >Recientes</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ selected: linkSel[0] }"
            (click)="getProjects('', 1, '', '', 0)"
            >Likes</a
          >
        </li>
        <!-- <li>
            <a
              [ngClass]="{ selected: linkSel[1] }"
              (click)="getProjects('', 1, 'orden', 'Año de lanzamiento', 1)"
              >Año de lanzamiento</a
            >
          </li> -->
      </ul>
      <ul>
        <h5>Lenguajes de programación</h5>
        <li>
          <a
            [routerLink]="['/projects/language/angular']"
            routerLinkActive="selected"
            >Angular</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/projects/language/react']"
            routerLinkActive="selected"
            >React</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/projects/language/java']"
            routerLinkActive="selected"
            >Java</a
          >
        </li>
      </ul>
      <ul>
        <h5>Tags</h5>
        <li>
          <a
            [routerLink]="['/projects/tag/angular']"
            routerLinkActive="selected"
            >Proyectos</a
          >
        </li>
        <li>
          <a [routerLink]="['/projects/tag/react']" routerLinkActive="selected"
            >Componentes</a
          >
        </li>
        <li>
          <a [routerLink]="['/projects/tag/java']" routerLinkActive="selected"
            >Apis</a
          >
        </li>
      </ul>
    </div>
  </details>

  <ng-container *ngIf="projects$ | async; let projects; else: loading">
    <section class="view-cards">
      <header *ngIf="value.length > 0">
        <h4>Filtro: {{ value | capitalize }}</h4>
        <hr />
      </header>
      <div class="cards animated fadein">
        <ng-container *ngFor="let project of projects">
          <Card [project]="project"></Card>
        </ng-container>
      </div>
      <p *ngIf="projects.length === 0">No hay resultados</p>
    </section>
  </ng-container>
  <div class="pagination">
    <button
      [disabled]="!pagination.previous"
      [class.disabled]="!pagination.previous"
      [class.btn--primary]="pagination.previous"
      (click)="getProjects(term, pagination.previous, filter, value)"
      type="button"
      class="btn"
    >
      Prev
    </button>
    <span>{{ page }}</span>
    <button
      [disabled]="!pagination.next"
      [class.disabled]="!pagination.next"
      [class.btn--primary]="pagination.next"
      (click)="getProjects(term, pagination.next, filter, value)"
      type="button"
      class="btn btn--primary"
    >
      Next
    </button>
  </div>
</main>
