<main class="change-pass">
  <div class="change-pass__contain">
    <div class="change-pass__content">
      <header class="t2 text-primary">Cambio de contraseña</header>
      <form [formGroup]="cpForm" (ngSubmit)="submitForm(cpForm)" novalidate>
        <div class="form-group">
          <label
            *ngIf="fc.valid('passwordcpForm')"
            for="passwordcpForm"
            class="text-danger"
            >{{ fc.error("passwordcpForm", "contraseña") }}</label
          >
          <input
            #showPass
            formControlName="passwordcpForm"
            name="passwordcpForm"
            type="password"
            class="form-control"
            id="cp-password"
            placeholder="Contraseña nueva"
          />
          <div class="show-password">
            <label for="checkPassChange">
              <i *ngIf="!isText" class="far fa-eye"></i>
              <i *ngIf="isText" class="far fa-eye-slash"></i>
              <input
                id="checkPassChange"
                type="checkbox"
                (click)="showPassword()"
              />
            </label>
          </div>
        </div>
        <div class="form-group">
          <label
            *ngIf="fc.valid('repasswordcpForm')"
            for="repasswordcpForm"
            class="text-danger"
            >{{ fc.error("repasswordcpForm", "contraseña") }}</label
          >
          <input
            #showrePass
            formControlName="repasswordcpForm"
            name="repasswordcpForm"
            type="password"
            class="form-control"
            id="recp-password"
            placeholder="Repita contraseña"
          />
          <div class="show-password">
            <label for="checkrePassChange">
              <i *ngIf="!isTextRe" class="far fa-eye"></i>
              <i *ngIf="isTextRe" class="far fa-eye-slash"></i>
              <input
                id="checkrePassChange"
                type="checkbox"
                (click)="showRePassword()"
              />
            </label>
          </div>
        </div>
        <button
          [class.disabled]="!cpForm.valid"
          [disabled]="!cpForm.valid"
          class="btn btn--primary"
          id="cp"
          type="submit"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</main>
