@use "~src/assets/scss/abstracts/colors" as c;
@use "~src/assets/scss/utilities/color-utilities" as cu;

.dropdown {
  display: inline-block;
  position: relative;
  &__button {
    display: inline-block;
    padding: 0 1rem;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0.1rem;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid c.$text-color;
    }
  }
  &__input {
    display: none;
  }
  &__menu {
    z-index: 3;
    position: absolute;
    top: 100%;
    right: 0.2rem;
    border-radius: 4px;
    padding: 0;
    margin-top: 2px;
    box-shadow: cu.$box-shadow;
    background-color: c.$white-color;
    list-style-type: none;
    overflow: hidden;
    li {
      padding: 10px 20px;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background-color: c.$primary-color-rgba;
      }
      a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
      }
      .divider {
        padding: 0;
        border-bottom: 1px solid cu.$border-color;
      }
    }
  }
  &__input + &__menu {
    display: none;
  }
  &__input:checked + &__menu {
    display: block;
  }
}
