<Navbar></Navbar>
<main>
  <div class="dmca-policy">
    <h3>DMCA POLICY</h3>
    <p>
      Mrstems.com están de acuerdo con 17 USC § 512 y la Digital Millennium
      Copyright Act («DMCA»). Es nuestra política consiste en responder a los
      avisos de infracción y tomar las acciones apropiadas en el marco del
      Digital Millennium Copyright Act («DMCA») y otras leyes aplicables de
      propiedad intelectual. Si su material con derechos de autor ha sido
      publicada en Mrstems.com o si los enlaces a su material con derechos de
      autor son devueltos a través de nuestro motor de búsqueda y desea que este
      material sea removido, debe proporcionar una comunicación por escrito que
      detalla la información que aparece en la siguiente sección. Tenga en
      cuenta que usted será responsable por daños y perjuicios, incluidos los
      gastos y honorarios de abogados) si tergiversar la información que aparece
      en nuestro sitio que está infringiendo sus derechos de autor. Le sugerimos
      que primero lo consulte con un abogado de asistencia legal en esta
      materia. Los siguientes elementos deben ser incluidos en su demanda por
      infracción de derechos de autor:
      <br />
      • Proporcionar evidencia de la persona autorizada para actuar en nombre
      del titular de un derecho exclusivo que presuntamente se ha infringido.
      <br />
      • Proporcionar información de la demanda del enlace desde google, con su
      respectiva #referencia (Esto con cada uno de los enlaces que quiera
      retirar.
      <br />

      • Proporcionar información de contacto suficiente para que podamos
      contactar con usted. También debe incluir una dirección de correo
      electrónico válida.
      <br />

      • Usted debe identificar con suficiente detalle el trabajo con derechos de
      autor alega han sido violados y como término de búsqueda al menos una en
      la que el material que aparezca en los resultados de búsqueda Mrstems.com
      <br />

      • Una declaración de que la parte demandante tiene una creencia de buena
      fe que el uso del material descrito en la reclamación de que no está
      autorizado por el propietario del copyright, su agente o la ley.
      <br />

      • Una declaración de que la información contenida en la notificación es
      exacta, y bajo pena de perjurio, que la parte reclamante está autorizada
      para actuar en nombre del titular de un derecho exclusivo que
      presuntamente se ha infringido.
      <br />

      • Debe ser firmado por la persona autorizada para actuar en nombre del
      titular de un derecho exclusivo que supuestamente se está infringiendo.
      Enviar el aviso de infracción por escrito a la siguiente dirección y un
      correo electrónico a notificación: ( soportemrstems@gmail.com ) Por favor
      permita 4-5 días hábiles para una respuesta de correo electrónico. Tenga
      en cuenta que el envío de su queja a otras partes, tales como nuestro
      proveedor de servicios Internet no va a acelerar su solicitud y puede
      resultar en una respuesta tardía, debido a la denuncia «NO» debidamente
      presentada.
    </p>
  </div>
</main>
<Footer></Footer>
