<section class="grid1">
  <div class="img1">
    <img [src]="project.imgs[0].url" alt="" />
  </div>

  <div class="img2">
    <img [src]="project.imgs[1].url" alt="" />
  </div>

  <div class="strapline">
    <blockquote>
      {{ project.description }}
    </blockquote>
  </div>

  <div
    class="img3"
    [ngStyle]="{
      'background-image': getUrl(project.cover.url)
    }"
  ></div>

  <div class="cta-wrapper">
    <div class="cta">
      <h2>{{ project.name }}</h2>
      <p>
        {{ project.tag.name }} - {{ project.language.name }} -
        {{ project.createdAt | date }}
      </p>
      <a class="button" href="">View Product Details →</a>
    </div>
  </div>

  <div class="readme">
    <h4>README.md</h4>
    {{ project.description }}
  </div>
</section>
