<div
  class="card animated fadein"
  (click)="goToSong(project.id)"
  [ngStyle]="{
    'background-image': getUrl(project)
  }"
>
  <div class="card__header">
    <div class="card__date fw-300">
      <p>
        {{ formatDate(project.createdAt) }}
      </p>
    </div>
  </div>

  <div class="card__tags">
    <div
      [style.--tag-bfcolor]="project.language.color"
      class="card__tag fw-300"
    >
      {{ project.language.name }}
    </div>
    <div [style.--tag-bfcolor]="project.tag.color" class="card__tag fw-300">
      {{ project.tag.name }}
    </div>
  </div>
  <div class="card__icons">
    <div class="downloads">
      <DownloadIcon></DownloadIcon>
      {{ project.ndownloads | thousandSuff }}
    </div>
    <div class="stars">
      <StarIcon></StarIcon>
      {{ project.stars }}
    </div>
    <div class="likes">
      <HeartIcon></HeartIcon>
      {{ project.likes | thousandSuff }}
    </div>
  </div>
  <div class="card__contain">
    <footer>
      <div class="contain">
        <div class="circle-author">
          <img [src]="project.author.profile.url" alt="" />
        </div>
        <div class="content">
          <h3 class="title">{{ project.name }}</h3>
          <!-- <p class="text fw-200">{{ project.description.slice(0, 20) }}...</p> -->
        </div>
        <button
          [ngStyle]="{ 'background-color': project.tag.color }"
          class="btn btn--primary"
        >
          {{ project.price | currency: 'CAD':'symbol-narrow' | noPoint }}
        </button>
        <!-- <div class="circle-price">
          <span>

          </span>
        </div> -->
      </div>
      <div
        class="icons"
        [ngStyle]="{ 'border-top': selectBorderColor(project.tag.color) }"
      >
        <div class="likes">
          <HeartLikeIcon></HeartLikeIcon>
          Me gusta
        </div>
        <div class="share">
          <ShareIcon></ShareIcon>
          Compartir
        </div>
        <div class="see-video">
          <VideoIcon></VideoIcon>
          Ver video
        </div>
      </div>
    </footer>
  </div>
</div>
