<div
  class="card animated fadein"
  (click)="goToSong(project.id)"
  [ngStyle]="{
    'background-image': getUrl(project)
  }"
>
  <div class="card__header">
    <div class="card__date fw-300">
      <p>
        {{ formatDate(project.createdAt) }}
      </p>
    </div>
  </div>

  <div class="card__tags">
    <div
      [style.--tag-bfcolor]="project.language.color"
      class="card__tag fw-300"
    >
      {{ project.language.name }}
    </div>
    <div [style.--tag-bfcolor]="project.tag.color" class="card__tag fw-300">
      {{ project.tag.name }}
    </div>
  </div>
  <div class="card__icons">
    <div class="downloads">
      <DownloadIcon></DownloadIcon>
      {{ project.ndownloads | thousandSuff }}
    </div>
    <div class="stars">
      <StarIcon></StarIcon>
      {{ project.stars }}
    </div>
    <div class="likes">
      <HeartIcon></HeartIcon>
      {{ project.likes | thousandSuff }}
    </div>
  </div>
  <div class="card__contain">
    <ng-container *ngIf="project.link_youtube">
      <YoutubeIcon></YoutubeIcon>
    </ng-container>
    <footer>
      <div class="contain">
        <div class="content">
          <h3 class="title">{{ project.name }}</h3>
          <p class="text t4 fw-200">
            {{ project.description.slice(0, 20) }}...
          </p>
        </div>
        <div class="circle-price">
          <span>
            {{ project.price | currency: 'CAD':'symbol-narrow' | noPoint }}
          </span>
        </div>
      </div>
      <div class="icons">
        <div class="likes">
          <HeartLikeIcon></HeartLikeIcon>
          Me gusta
        </div>
        <div class="share">
          <ShareIcon></ShareIcon>
          Compartir
        </div>
        <div class="see-video">
          <VideoIcon></VideoIcon>
          Ver video
        </div>
      </div>
    </footer>
  </div>
</div>
