@use '~src/assets/scss/base/typography' as t;
@use '~src/assets/scss/abstracts/colors' as c;
@use '~src/assets/scss/utilities/flow' as f;
@use '~src/assets/scss/utilities/color-utilities' as cu;
@use '~src/assets/scss/abstracts/breakpoints' as bp;
@use 'sass:math';

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: c.$white-color;
  border-radius: f.$border-radius;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  box-shadow: cu.$box-shadow;
  transition: all, 0.5s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  h3 {
    margin: 0;
  }
  &__header {
    width: 100%;
    height: 3rem;
  }
  &__date {
    max-width: 21%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border-radius: 0 0 20% 20%;
    box-shadow: 0 -0.15rem 0 c.$extra-color-1;
    p {
      text-overflow: ellipsis;
    }
  }
  &__tags {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
  }
  &__icons {
    position: absolute;
    top: 3rem;
    right: 2rem;
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    div {
      display: flex;
      gap: 0.2rem;
    }
  }
  &__tag {
    padding: 0.7em;
    height: 1.5rem;
    position: relative;
    background-color: var(--tag-bfcolor);
    border-radius: f.$border-radius 0 40% f.$border-radius;
    @media screen and (min-width: map-get(bp.$bp-width, md)) {
      padding: 0.7em 1.3em 0.7em 0.7em;
    }
    &::before {
      position: absolute;
      bottom: 100%;
      right: 0;
      content: '';
      width: 40%;
      // width: 1.8rem;
      // height: 0.8rem;
      height: 30%;
      clip-path: polygon(
        79% 38%,
        88% 24%,
        100% 0,
        100% 100%,
        0 100%,
        17% 93%,
        33% 83%,
        47% 74%,
        59% 63%,
        69% 52%
      );
      background-color: var(--tag-bfcolor);
    }
    // &:nth:nth-child(2) {
    //     width: 24%;
    // }
    // &:nth:nth-child(3) {
    //     width: 22%;
    // }
    // // &:nth-child(n) {
    // //     width: 20%;
    // // }
    // &:last-child {
    //     width: 20%;
    // }
  }
  &__contain {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    .contain {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .content {
        text-align: left;
      }
      .text {
        margin: 0.4rem 0 0 0;
        max-height: 1.7rem;
        overflow: hidden;
      }
      .circle-price {
        border-radius: 50%;
        width: 2.7rem;
        height: 2.7rem;
        background: c.$primary-color;
        display: grid;
        place-content: center;
        word-wrap: break-all;
        padding: 0.5rem;
        font-size: 0.8rem;
        span {
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .icons {
      border-top: 1.2px solid #ccc;
      padding-top: 0.5rem;
      margin-top: 1rem;
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      color: #fff;
    }
  }
}

.youtube {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: -1rem;
  &-path {
    fill: c.$secondary-color;
  }
}
