<Navbar></Navbar>
<main>
  <div class="legal-information">
    <h3>Información legal</h3>
    <p>
      Somos una comunidad abierta a todo tipo de público en general, basada en
      el
      <strong>linksharing</strong>,esto significa que el contenido es hecho por
      los conocimientos de diferentes personas,que la quieren compartir
      libremente,la comunidad esta destinada a que todo el mundo con solo un
      acceso a internet,pueda compartir y encontrar información por toda la red.
      Nuestra comunidad no aloja ningún tipo de archivo en el servidor hosting
      de nuestra propiedad, simplemente alojamos los link (URL). Esta página no
      aloja ningún tipo de archivo ilegal,no hacemos copias de ningún tipo,
      tampoco infringimos ni dañamos ningún Copyright. Todo lo aquí publicado ha
      sido encontrado en la red de internet,solo te ayudamos a conseguirla,
      nuestra comunidad no provee ningún tipo de archivo que infrinja la ley. Si
      accedes a este sitio web sin estar de acuerdo con los términos aquí
      establecidos, estarás violando el código 431.322.12 del Internet Privacy
      Act, que significa que NO PUEDE amenazarse a nuestro(s) ISP(s) o a ninguna
      compañía o persona que almacene estos ficheros, así como la imposibilidad
      de perseguir a ninguna persona relacionada con esta página, incluyendo
      familiares, amigos y/o individuales que entren o mantengan este sitio web.
      Cualquier prueba obtenida por el acceso NO PERMITIDO a esta propiedad
      privada, será considerada como fruto de robo y de carácter ILEGAL.
      <br />
      QUEDA TERMINANTEMENTE PROHIBIDO EL ACCESO A ESTE SITIO WEB A TODO AQUEL
      QUE NO ESTÉ DE ACUERDO CON ESTOS TÉRMINOS Y NO LOS ACEPTE. Si quieres
      reportar algún abuso o denunciar algo publicado en esta pagina lo puedes
      hacer en la siguiente dirección: soportemrstems@gmail.com
    </p>
  </div>
</main>
<Footer></Footer>
