<Navbar></Navbar>
<main>
  <div class="terms-of-use">
    <h3>Términos de uso</h3>
    <p>
      &#10003; El sitio tiene como objetivo compartir, a través de la exhibición
      de material disponible gratuitamente en internet.
      <br />
      &#10003; El usuario tiene la opción o no de registrarse, recomendamos el
      registro pues de esta forma el mismo conseguirá recuperar todo su
      historial si algo sucede.
      <br />
      &#10003; El contenido disponible en la pagina es proporcionado por la
      comunidad, es decir, en cualquier momento, cualquier material puede ser
      removido o alterado sin previo aviso.
      <br />
      &#10003; Los datos de los usuarios que se recopilan se utilizan
      exclusivamente para mejorar y mejorar la funcionalidad de la aplicación.
      En cuanto a las informaciones de geolocalización, sólo se almacena el
      nombre del país del usuario con el objetivo de implementar nuevas
      funcionalidades en el futuro. Su información no se comparte con terceros.
    </p>
  </div>
</main>
<Footer></Footer>
