$primary-color: #6a67ce;
$secondary-color: #fc636b;
$third-color: #1aafd0;
$extra-color-1: #cf9711;
// $extra-color-1: #fadd7d;
// $extra-color-1: #ffb900;
$extra-color-2: #3be8b0;
$dark-color: #141618;
$text-color: #53575a;
$text-color-alt: #282d31;
$white-color: #fff;
$body-color: #fcfcfc;
$primary-color-rgba: rgba(127, 90, 131, 0.3);
