$primary-color: #041562;
$secondary-color: #da1212; //angular
$third-color: #11468f; //componente

$extra-color-1: #ffb900; //proyecto
$extra-color-2: #5bad10; //node
$extra-color-3: #e64807; //java
$extra-color-4: #fadd7d;
$extra-color-5: #7f58c7; //c
$extra-color-6: #f0077b; //api
$extra-color-7: #198c7b; //react

$dark-color: #141618;
$text-color: #53575a;
$text-color-alt: #282d31;
$white-color: #fff;
$body-color: #eeeeee;
$primary-color-rgba: rgba(40, 45, 49, 0.4);
